<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
><!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title> Responsive Sidebar Menu  | CodingLab </title>
  <link rel="stylesheet" href="/static/style.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="sidebar">
  <div class="logo-details">
    <img src="logo.jpg" alt="profileImg">
    <div class="logo_name">Application</div>
    <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list">

    <li>
      <a th:href="@{/admin/dashboard}">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a th:href="@{/admin/list}">
        <i class='bx bx-user'></i>
        <span class="links_name">User</span>
      </a>
      <span class="tooltip">User</span>
    </li>
    <li>
      <a th:href="@{/admin/listclient}">
        <i class='bx bx-user'></i>
        <span class="links_name">client</span>
      </a>
      <span class="tooltip">client</span>
    </li>
    <li>
      <a th:href="@{/admin/listCommande}">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Commande</span>
      </a>
      <span class="tooltip">commande</span>
    </li>
    <li>
      <a th:href="@{/admin/listCategorie}">
        <i class="bx bx-bookmark-plus"></i>
        <span class="links_name">Categorie</span>
      </a>
      <span class="tooltip">Categorie</span>
    </li>
    <li>
      <a th:href="@{/admin/listVehicule}">
        <i class="fas fa-car-alt"></i>
        <span class="links_name">Vehicule</span>
      </a>
      <span class="tooltip">Vehicule</span>
    </li>
    <li>
      <a th:href="@{/admin/listVoyage}">
        <i class="fas fa-car-alt"></i>
        <span class="links_name">Voyage</span>
      </a>
      <span class="tooltip">Voyage</span>
    </li>

    <li>


    <li class="profile">
      <div class="profile-details">
        <div class="name_job">
          <div class="name" th:text="${#authentication.name}"></div>
        </div>
      </div>
      <form method="post" th:action="@{/logout}">
        <button type="submit" class="logout-button logout">
          <i class="bx bx-log-out"></i>
        </button>

      </form>
    </li>


  </ul>
</div>

<section layout:fragment="content1" class="home-section">

</section>
<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
    if(sidebar.classList.contains("open")){
      closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
    }else {
      closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
    }
  }
</script>
</body>
</html>